{% extends "dash/base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

    
    
    <div style="padding-left: 2rem; ">
        <br>
    
        {% for umessage in umessages %}
        {% if umessage.isAdmin %}
        <div class="mb-1" style="display: flex; justify-content: flex-start;">
            <div class="alert alert-primary" style="max-width:80%;">
                <p>{{ umessage.content|safe }}</p>
                <p class="text-right small">{{ umessage.created_at|naturaltime }}</p>
                 {% if umessage.read %}
                 <i class="ti-check small" style="float: right; vertical-align: middle; color: #008080;"></i>
                 {% endif %}
            </div>
        </div>
        {% else %}
        <div class="mb-1" style="display: flex; justify-content: flex-end;">
            <div class="alert alert-secondary" style="max-width:80%;">
                <p>{{ umessage.content|safe }}</p>
                <p class="text-right small">{{ umessage.created_at|naturaltime }}</p>
                
            </div>
          </div>
        {% endif %}
        
        {% endfor %}
        <br>
        <div>
            <h6 >New Message</h6>
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ message_form|crispy }}
            {{ message_form.media }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
            <br><br>
        </form>
    </div>
    

  




</div>


                                 
    

{% endblock content %}