{% extends "dash/userbase.html" %}
{% load static %}
{% block title %}Task{% endblock %}
{% block content %}
{% load humanize %}

<div class="task-detail-pane">


    <h5 class="mb-4" style="text-align: center;font-size: 1.2rem;">{{ task.title }}</h5>
    <hr>
    <div class="task-title pt-1 pb-2 pl-4">
        <div>
            <h6 style="font-size: 0.84rem;">{{ task.type }}</h6>
        </div>
        <div>
            <h6 style="font-size: 0.84rem;">{{ task.time_remaining_pretty }}</h6>                                        
        </div>
        <div>
            <h6 style="font-size: 0.84rem;">${{ task.default_price }}</h6>   
        </div>
        <div>
            <a href="#">
            <p style="font-size: 0.84rem;">Edit</p>
            </a>
        </div>
    </div>
    <hr>

    <br>
     {% for taskdata in taskdatas %}
    <div class="taskdatalay">
        <div class="pl-1"> 
            {% if taskdata.is_mod %}
            <img src="{{  taskdata.task.image_url }}" style="width: 3.0rem;height: 3.0rem;border-radius: 50%;object-fit: cover;" alt="Cinque Terre">
            {% else %}
            <img src="{{ user.img }}" style="width: 3.0rem;height: 3.0rem;border-radius: 50%;object-fit: cover;" alt="Cinque Terre">
            {% endif %}
        </div>
        <div class="pr-1">

           
            <div class="taskdata">
                {% if taskdata.is_mod %}
                <p><strong>EngLiWang</strong></p>
                {% else %}
                 <p><strong>You</strong></p>
                {% endif %}

                
                 {% if taskdata.is_status %}
                  <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ taskdata.progress }}&#37;;" aria-valuenow="{{ taskdata.progress }}" aria-valuemin="0" aria-valuemax="100">{{ taskdata.progress }}&#37;</div>
                    </div>
                 {% endif %}
               
                {% if taskdata.is_answer %}
                 <div class="alert alert-primary" style="padding: 2%;"role="alert">
                    <p>With all the requirements for accepting payment now in place, you can initialize and use the SDK as shown below:</p>
                 </div>
                  {% endif %}
                  {% if taskdata.description %}
                <div>{{ taskdata.description|safe }}</div>
                    {% endif %}
                <div class="mt-4 mb-4" style="display: flex; gap: 2rem; flex-wrap: wrap;">
                {% for file in taskdata.taskfiles_set.all %}
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <a href="{{ file.file.url }}">
                        {% if file.css_class == 'word' %}
                        <img src="{% static 'analytics/assets/icons/word.png' %}" alt="" style="width:4em;"/>
                        {% elif file.css_class == 'excel' %}
                        <img src="{% static 'analytics/assets/icons/excel.png' %}" alt="" style="width:4em;"/>
                        {% elif file.css_class == 'ppt' %}
                        <img src="{% static 'analytics/assets/icons/ppt.png' %}" alt="" style="width:4em;"/>
                        {% elif file.css_class == 'pdf' %}
                        <img src="{% static 'analytics/assets/icons/pdf.png' %}" alt="" style="width:4em;"/>
                        {% elif file.css_class == 'other' %}
                        <img src="{% static 'analytics/assets/icons/other.png' %}" alt="" style="width:4em;"/>
                        {% endif %}
                      
                        <p>{{ file.filename|truncatechars:10 }}</p>
                        </a>
                    </div>
            
                {% empty %}
                    <p></p>
                {% endfor %}
                </div>

            






            </div>
            <p class="text-right small">{{ taskdata.created_at|naturaltime }}</p>
            {% if taskdata.adminRead and not taskdata.is_mod %}
             <i class="ti-check small" style="float: right; vertical-align: middle; color: #008080;"></i>
            {% endif %}
        



        </div>
    </div>

    {% empty %}
    <p></p>
    {% endfor %}

   

    <br><br>
        <div>
            <div class="alert alert-primary" role="alert">
                Youi can add files and instructions below and share any details about the project. 
              </div>
    {% load crispy_forms_tags %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ data_form.media }}
        {{ data_form|crispy }}
        {{ files_form|crispy }}
        <button type="submit"  class="btn btn-primary btn-lg btn-block">Send Message</button>
    </form>
    <br>
    </div>
   
    </div>
 

{% endblock %}