{% extends "dash/userbase.html" %}
{% load static %}
{% block title %}Task{% endblock %}
{% block content %}
{% load humanize %}

 <!-- sales report area start -->
                <div class="sales-report-area mt-5 mb-5">
                    <div class="row">

                           <!-- task div start -->
                         {% for task in tasks %}
                        <div class="col-12 mb-3">
                            <div class="single-report mb-xs-30">
                                <div class="s-report-inner pr--20 pt--30 mb-3">
                                    <div class="icon"><i class="fa fa-btc"></i></div>
                                    <div class="s-report-title d-flex justify-content-between">
                                        <h4 class="header-title mb-0">{{ task.type }}</h4>
                                        {% if not task.paid %}
                                        <p style="background: #FFA07A;">PAYMENT REQUIRED</p>
                                        {% else %}
                                        {% if task.complete %}
                                         <p style="background: #00CED1;color:white;">COMPLETE</p>
                                        {% else %}
                                         <p style="background: #87CEEB;">IN PROGRESS</p>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="d-flex justify-content-between pb-2">
                                        <a href="{% url 'task-info' task.id task.slug %}"><h2>{{ task.title }}</h2></a>
                                        <span>${{ task.default_price }}</span>
                                    </div>
                                </div>
                                 {% if task.paid %}
                                 <div class="progress ml-2 mr-2 mb-3">
                                <div class="progress-bar bg-success" role="progressbar" style="width: {{ task.time_progress_percent}}%;" aria-valuenow="{{ task.time_progress_percent }}" aria-valuemin="0" aria-valuemax="100">{{ task.time_progress_percent }}%</div>
                                </div>
                                 {% endif %}
                                
                            </div>
                        </div>
                         {% endfor %}
                           <!-- task div end -->
                       
                        
                       
                    </div>
                </div>
                <!-- sales report area end -->

{% endblock %}