{% extends "dash/userbase.html" %}
{% load static %}
{% block content %}



     
    

  
       
  
      
        <div>
            <h6 class="section-title style-1 mb-30">Create</h6>
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ order_form|crispy }}
            {{ data_form.media }}
            {{ data_form|crispy }}
            {{ files_form|crispy }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Started</button>
            <br><br>
        </form>
    </div>
      

    




                                 
    

{% endblock content %}