{% extends "analytics/base2.html" %}
{% load static %}
{% block content %}


<div class="create-new2">
    <div class="dontdisp">

        
        <div class="sidebar-widget widget-category-2 mb-30 pl-2">
            <br>
            <h5 class="section-title style-1 mb-30">Menu</h5>
            {% include "analytics/partials/sidemenu.html" %}
        </div>


    </div>
    
    
    <div class="padcust" style="padding-left: 2rem; ">
        <br>
       
        <div class="create-new">
        <div class="dontdisp"></div>
        <div>
            <h6 class="section-title style-1 mb-30">Create</h6>
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ order_form|crispy }}
            {{ data_form.media }}
            {{ data_form|crispy }}
            {{ files_form|crispy }}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Started</button>
            <br><br>
        </form>
    </div>
        <div class="dontdisp"></div>
</div>
    

</div>

</div>

                                 
    

{% endblock content %}