{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>NorthStar</title>

        <!-- CSS FILES -->   
        <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-icons.css' %}" /> 
        <link rel="stylesheet" href="{% static 'frontend/css/templatemo-topic-listing.css' %}" />      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
            
<!--

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

-->
    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi-back"></i>
                        <span>Topic</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'task-listview' %}">Excel</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'task-listview' %}">Python</a>
                            </li>

    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'task-listview' %}">SPSS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'task-listview' %}">Sign In</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'task-listview' %}">Sign Up</a>
                            </li>

                           
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="{% url 'task-listview' %}" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Data Analysis Solutions</h1>

                            <h6 class="text-center">Tailored Data Analysis solutions</h6>

                           
                        </div>

                    </div>
                </div>
            </section>


            <section class="featured-section">
                <div class="container">
                    <div class="row justify-content-center">

                        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                            <div class="custom-block bg-white shadow-lg">
                                <a href="{% url 'task-listview' %}">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">Excel - $39</h5>

                                            <p class="mb-0">Submit any Excel project for just $39 and get it handled proffesionally.</p>
                                        </div>

                                        <span class="badge bg-design rounded-pill ms-auto">14</span>
                                    </div>

                                    <img src="{% static 'frontend/images/topics/undraw_Remote_design_team_re_urdx.png' %}" class="custom-block-image img-fluid" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-block custom-block-overlay">
                                <div class="d-flex flex-column h-100">
                                    <img src="images/businesswoman-using-tablet-analysis.jpg" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Python - $59</h5>

                                            <p class="text-white">Data analysis solutions with python’s powerful libraries, or raw python depending on your needs. Visualization, modelling and interface design are also available.</p>

                                            <a href="{% url 'task-listview' %}" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                        </div>

                                        <span class="badge bg-finance rounded-pill ms-auto">25</span>
                                    </div>

                                    <div class="social-share d-flex">
                                        <p class="text-white me-4">Share:</p>

                                        <ul class="social-icon">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-pinterest"></a>
                                            </li>
                                        </ul>

                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                    </div>

                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="explore-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-4">Browse Services</h1>
                        </div>

                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane" type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">Forecasting</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane" type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Visualization</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane" type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Modelling</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="music-tab" data-bs-toggle="tab" data-bs-target="#music-tab-pane" type="button" role="tab" aria-controls="music-tab-pane" aria-selected="false">Cleaning</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane" type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Analysis</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Excel - $39</h5>

                                                            <p class="mb-0">Forecast creation and predictions with Excel. </p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">14</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Remote_design_team_re_urdx.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">SPSS - $49</h5>

                                                                <p class="mb-0">Forecast creation and prediction with SPSS</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">75</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Redesign_feedback_re_jvm0.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Python - $59</h5>

                                                                <p class="mb-0">Forecast creation and predictions with Python.</p>
                                                        </div>

                                                        <span class="badge bg-design rounded-pill ms-auto">100</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/colleagues-working-cozy-office-medium-shot.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'task-listview' %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Excel - $39</h5>

                                                                <p class="mb-0">Data visualization with Excel</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                                                        </div>

                                                        <img src="{% static 'frontend/images/topics/undraw_online_ad_re_ol62.png' %}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'task-listview' %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Tableau - $49</h5>

                                                                <p class="mb-0">Data visualization with Tableau</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                                                        </div>

                                                        <img src="{% static 'frontend/images/topics/undraw_Group_video_re_btu7.png' %}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <a href="{% url 'task-listview' %}">
                                                        <div class="d-flex">
                                                            <div>
                                                                <h5 class="mb-2">Python - $59</h5>

                                                                <p class="mb-0">Data visualizationn with Python.</p>
                                                            </div>

                                                            <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                                                        </div>

                                                        <img src="{% static 'frontend/images/topics/undraw_viral_tweet_gndb.png' %}" class="custom-block-image img-fluid" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                  </div>

                                <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="0">   <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">SPSS - $49</h5>

                                                            <p class="mb-0">Descriptive Statistics. Inferential Statistics. Data Visualization. Data Preparation and Cleaning. Reporting & Automation.</p>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Finance_re_gnv2.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block custom-block-overlay">
                                                <div class="d-flex flex-column h-100">
                                                    <img src="{% static 'frontend/images/businesswoman-using-tablet-analysis-graph-company-finance-strategy-statistics-success-concept-planning-future-office-room.jpg' %}" class="custom-block-image img-fluid" alt="">

                                                    <div class="custom-block-overlay-text d-flex">
                                                        <div>
                                                            <h5 class="text-white mb-2">Python - $59</h5>

                                                            <p class="text-white">Exploratory Data Analysis. Data Visualizations. API's and Web Data. Tkinter GUI. Task Automation. </p>
                                                           
                                                            <a href="topics-detail.html" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                                                        </div>

                                                        <span class="badge bg-finance rounded-pill ms-auto">25</span>
                                                    </div>

                                                    <div class="social-share d-flex">
                                                        <p class="text-white me-4">Share:</p>

                                                        <ul class="social-icon">
                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                                            </li>

                                                            <li class="social-icon-item">
                                                                <a href="#" class="social-icon-link bi-pinterest"></a>
                                                            </li>
                                                        </ul>

                                                        <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                                                    </div>

                                                    <div class="section-overlay"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="music-tab-pane" role="tabpanel" aria-labelledby="music-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">MATLAB - $69</h5>

                                                            <p class="mb-0">Projects in any one of MATLAB's numerous modules</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Compose_music_re_wpiw.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">R - $42</h5>

                                                            <p class="mb-0">Any analysis project in R.</p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">45</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_happy_music_g6wc.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Excel - $39</h5>

                                                            <p class="mb-0">The use of Excel to clean and extract data. </p>
                                                        </div>

                                                        <span class="badge bg-music rounded-pill ms-auto">20</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Podcast_audience_re_4i5q.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">ML - $89</h5>

                                                            <p class="mb-0">Submit non GPU Intensive ML projects and get them handled proffesionally. </p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">80</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Graduation_re_gthn.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="custom-block bg-white shadow-lg">
                                                <a href="{% url 'task-listview' %}">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Python - $59</h5>

                                                            <p class="mb-0">General data analysis with python.</p>
                                                        </div>

                                                        <span class="badge bg-education rounded-pill ms-auto">75</span>
                                                    </div>

                                                    <img src="{% static 'frontend/images/topics/undraw_Educator_re_ju47.png' %}" class="custom-block-image img-fluid" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </section>


            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="text-white mb-4">How does it work?</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Post your project</h4>

                                        <p class="text-white">Provide a detailed description of your project needs and share all necessary files, including your dataset where necessary. Specify the project’s timeline and any other meaningful information. </p>

                                        <div class="icon-holder">
                                          <i class="bi-search"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Project Analysis and Completion</h4>

                                        <p class="text-white">Project is evaluated and all clarifications are made on unclear areas. The project is then completed within the relevant timeline and submitted for review.</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Review &amp; Finalization</h4>

                                        <p class="text-white">After receiving the project, its reviewed for accuracy and any changes are made based on the goals of the project. The project is then finalized if its meets all requirements. </p>

                                        <div class="icon-holder">
                                          <i class="bi-book"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 text-center mt-5">
                            <p class="text-white">
                                Want to learn more?
                                <a href="{% url 'task-listview' %}" class="btn custom-btn custom-border-btn ms-3">Check out Youtube</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>


            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4">Frequently Asked Questions</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="{% static 'frontend/images/faq_graphic.jpg' %}" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Who will handle my project?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Our experts have years of progressive experience in their areas of specialization and are capable of addressing all possible projects you may have, no matter how complicated they may appear to be. We pride ourselves on offering high-quality, tailored solutions that meet the specific needs of each project.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Will AI be used in completing my project?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            No. We know too well that AI models are still largely error-prone and may fail to accurately complete most types of projects. We rely solely on subject matter specialists whose experience gives them a more holistic understanding of project requirements and enables them to develop tailored solutions.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Will I be able to refine my project requirements?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Yes. Data analysis is only useful if the deliverables provide meaningful information. Requirements can therefore be refined in the course of project execution to better address data needs.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="{% url 'task-listview' %}">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">ML - $89</h5>

                                        <p class="mb-0">Submit non GPU Intensive ML projects and get them handled proffesionally. </p>
                                    </div>

                                    <span class="badge bg-education rounded-pill ms-auto">80</span>
                                </div>

                                <img src="{% static 'frontend/images/topics/undraw_Graduation_re_gthn.png' %}" class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="custom-block bg-white shadow-lg">
                            <a href="{% url 'task-listview' %}">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="mb-2">Python - $59</h5>

                                        <p class="mb-0">General data analysis with python.</p>
                                    </div>

                                    <span class="badge bg-education rounded-pill ms-auto">75</span>
                                </div>

                                <img src="{% static 'frontend/images/topics/undraw_Educator_re_ju47.png' %}" class="custom-block-image img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </div>



            </section>


           
        </main>

<footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="{% url 'base' %}">
                            <i class="bi-back"></i>
                            <span>Northstar</span>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="{% url 'base' %}" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="{% url 'task-listview' %}" class="site-footer-link">Python</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="{% url 'task-listview' %}" class="site-footer-link">Excel</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="{% url 'task-listview' %}" class="site-footer-link">Matlab</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">Information</h6>

                    

                        <p class="text-white d-flex">
                            <a href="mailto:info@company.com" class="site-footer-link">
                                support@northstar.com
                            </a>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © <span id="year"></span>. Northstar. All rights reserved.
                        </p>
                        <script>
                            document.getElementById("year").textContent = new Date().getFullYear();
                          </script>
                    </div>

                </div>
            </div>
        </footer>


        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'frontend/js/jquery.min.js' %}"></script>
        <script src="{% static 'frontend/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'frontend/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'frontend/js/click-scroll.js' %}"></script>
        <script src="{% static 'frontend/js/custom.js' %}"></script>
       
    </body>
</html>
