.billingdispcol {
	display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 2px;
}

@media screen and (max-width: 600px) {
	.billingdispcol {
		grid-template-columns: 100%;
		grid-gap: 2px;
	}

}

@media screen and (max-width: 800px) {
    .billingdispcol {
		grid-template-columns: 100%;
		grid-gap: 2px;
	}
}


.plan-selector12 {
    background-color: white;
    margin-left: 3%;
    margin-right: 3%;
    width: 80%;
    margin-top: 8%;
    margin-bottom: 8%;
    border-radius: 12px;
}


.billtitle {
    text-align: center;
    padding-top: 5%;
}

.plan-selector12 p {
    padding-left: 5%;
    padding-right: 5%;

}

.btn2 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    border-radius: 12px;
}

.btn3 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 80%;
    border-radius: 12px;
    margin-bottom: 2%;
}

.joinbanner {
    height: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-bottom: 0.1%;
}

.joinbanner a:link, a:visited {
    background-color: transparent;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #01b3a7;

    
}

.joinbanner a:hover, a:active {
    background-color: #32cd32;
    color: white;  
}


@media screen and (max-width: 800px) {
    .joinbanner a:link, a:visited {
        margin-top: 2.7%;
    }
}


.mydashitems {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2px;
}


.mydashboardgridmain {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 17% 66% 17%;
    grid-gap: 2px;
}

@media screen and (max-width: 600px) {
    .mydashboardgridmain {
        grid-template-columns: 100%;
    }
    .mydashitems  {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mydashboardgridmain {
        grid-template-columns: 100%;
    }
    .mydashitems  {
        grid-template-columns: 100%;
    }
    
}

@media screen and (min-width: 800px) {
    .dashmobilepanel {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .mydashitems {
        display: none;
    }
}


.paymentlayout {
    display: grid;
    grid-template-columns: 17% 66% 17%;
}

.question-context {
    display: grid;
    grid-template-columns: 17% 66% 17%;
}

.subjectdisp {
    grid-template-rows: auto;
}

.dispnon101 {
    display: none;
}

.payment-options123 {
    display: grid;
    grid-template-rows: auto;
}

.payment-options-rows {
    height: 2rem;
    border-bottom: 1px solid grey;
    background-color: lavender;
}

.invoice-total12 {
    display: grid;
    grid-template-columns: 60% 40%;
}

.mod-div-pay {
    display: grid;
    grid-template-columns: 50% 50%;

}




.crazxydiv {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 33% 34% 33%;

}

.results {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-gap: 2px;
}

.score123 {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 2px;
}

.crazxydiv123 {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 18% 80% 2%;
    grid-gap: 2px;
}

.profilediv {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 2px;
}

.subjectdispcol {
	margin-top: 1%;
	display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 2px;
}



.crazxydiv2 {
	margin-top: 8%;
	margin-bottom: 55%;
}


.crazxydiv2 h4 {
	margin-bottom: 3%;
}

.crazxydiv2 h5 {
	margin-bottom: 3%;
}



@media screen and (max-width: 600px) {
    .crazxydiv {
        grid-template-columns: 100%;
    }
	.questiondiv {
		grid-template-columns: 100%;
	}
	.results {
		grid-template-columns: 100%;
	}
	.score123 {
		grid-template-columns: 100%;
	}
	.crazxydiv123 {
        grid-template-columns: 100%;
    }
    .crazxydiv2 {
        padding-top: 0rem;
    }
	.subjectdispcol {
		grid-template-columns: 100%;
		grid-gap: 2px;
	}
	.profilediv {
		grid-template-columns: 100%;

	}

}

@media screen and (max-width: 800px) {
    .crazxydiv {
        grid-template-columns: 100%;
    }
	.questiondiv {
		grid-template-columns: 100%;
	}
	.results {
		grid-template-columns: 100%;
	}
    .crazxydiv2 {
        padding-top: 0rem;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 100%;
    }
	.subjectdispcol {
		grid-template-columns: 100%;
		grid-gap: 2px;
	}
}

.topiclist6gg {
	border-radius: 5px;
	background-color: dodgerblue;
	margin-bottom: 2rem;
	margin-top: 2rem;
	height: 3rem;

}

.topiclist6gg h5 {
	padding: 0.5rem;
	font-family: 'FontAwesome';
	color: white;

}

@media screen and (max-width: 600px) {
    .topiclist6gg {
        margin-left: 0.4rem;
		margin-right: 0.4rem;
    }
}




.fdgvdsf44223ghj {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
  }
  

  
  /* Float four columns side by side */
  .columnmhjghg675 {
	float: left;
	width: 40%;
	padding: 0 10px;
  }

  .columnmprofile {
	float: left;
	width: 100%;
	padding: 0 10px;
  }

  .columnsubjectdisp {
	float: left;
	width: 100%;
	padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row4545hhh {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row4545hhh:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Style the counter cards */
  .cardfgfdsg555 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding: 2rem;
	text-align: center;
	background-color: #f1f1f1;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 900px) {
	.columnmhjghg675 {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }


  .quiz-container123fr{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	overflow: hidden;
  }
  .quiz-headerh43ff{
	padding: 4rem;
  }


  .quiz-headerh43ff h2{
	padding: 1rem;
	text-align: center;
	margin: 0;
  }
  .quiz-headerh43ff ul{
	list-style-type: none;
	padding: 0;
  }
  .quiz-headerh43ff ul li{
	font-size: 1.2rem;
	margin: 1rem 0;
  }
  .quiz-headerh43ff ul li label{
	cursor: pointer;
  }

  
  .quiz-headerh43ff button{
	background-color: #03cae4;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 1.3rem;
  }
  .quiz-headerh43ff button:hover{
	background-color: #04adc4;
  }
  .quiz-headerh43ff button:focus{
	outline: none;
	background-color: #44b927;
  }


  .titler56 {
	margin-top: 0%;
	margin-bottom: 1%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	background-color: #87ceeb;
	
  }

